/* InventoryItem.css */
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #FFFFFF; /* White background */
  min-height: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.item-name {
  font-size: 1.1em;
  margin-bottom: 5px;
  color: #2D3142; /* Dark Slate Blue */
}

.item-quantity {
  font-size: 1em;
  margin-bottom: 5px;
}

.item-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
}

.item-icons button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 1.5em;
  color: #4F5D75; /* Muted blue */
}

.item-icons button:hover {
  color: #EF8354; /* Warm orange on hover */
}
