.item {
  background-color: #C8D5B9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item p {
  font-size: 16px;
  margin-bottom: 10px;
}

.item button {
  background-color: transparent; /* Make the button transparent */
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
  color: #4A7C59; /* Dark green for icon color */
  margin-left: 10px;
}

.item button:hover {
  color: #68B0AB; /* Change to teal on hover */
}

.item button:focus {
  outline: none; /* Remove outline */
}
