/* CategoryList.css */

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #FFFFFF; /* White background */
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #EF8354; /* Warm orange */
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #D65B3E; /* Darker orange on hover */
}

span {
  color: #4F5D75; /* Muted blue for default categories */
}
