/* General background and container for the page */
.category-management-container {
  background-color: #FFFFFF; /* White background */
  padding: 20px;
}

/* Title */
h2 {
  color: #2D3142; /* Dark Slate Blue */
  font-size: 2em;
}

/* Add your category form container */
form {
  background-color: #FFFFFF; /* White background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
