form.search-bar-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

form.search-bar-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #BFC0C0; /* Light gray border */
  font-size: 16px;
  box-sizing: border-box;
}

form.search-bar-form input[type="text"]:focus {
  border-color: #EF8354; /* Warm orange on focus */
  outline: none;
}
