/* SearchBar.css */

form.search-bar-form {
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  align-content: center;
}

form.search-bar-form input[type="text"] {
  width: 90%;
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #BFC0C0; /* Light gray border */
  font-size: 16px;
  box-sizing: border-box;
  align-self: center;
  margin-top: 0;
}

form.search-bar-form input[type="text"]:focus {
  border-color: #EF8354; /* Warm orange on focus */
  outline: none;
}
