/* ShoppingList.css */

.shopping-list-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #FFFFFF; /* White background */
}

.shopping-list-title {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: #2D3142; /* Dark Slate Blue */
}

.shopping-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.category {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  background-color: #FFFFFF; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #BFC0C0; /* Light gray border */
}

.category h3 {
  text-align: center;
  color: #2D3142; /* Dark Slate Blue */
}

ul {
  list-style-type: none;
  padding: 0;
}
