.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #f9f9f9;
  height: auto;
}

.item-details {
  display: flex; 
  align-items: center; 
  gap: 10px; 
  margin-bottom: 10px; 
}

.item-checkbox {
  margin-right: 10px; 
}

.item-name {
  font-size: 1.2em;
}

.purchase-date {
  margin-top: 10px;
}

.item-icons {
  display: flex;
  justify-content: space-evenly; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-icons button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 1.5em;
  color: #333; 
}

.item-icons button:hover {
  color: #007bff;
}

.item-icons button:focus {
  outline: none; 
}
