nav {
  background-color: #68B0AB; /* Teal background */
  padding: 15px;
  text-align: center;
}

nav a {
  color: #FAF3DD;
  font-size: 18px;
  text-decoration: none;
  margin: 0 20px;
}

nav a:hover {
  color: #C8D5B9; /* Pale green on hover */
}
